<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Task</title>
</head>
<body>
	<h2><label style="color: purple;">User Task Page</label></h2>
	<div>
		<a th:href="@{/}">Home</a>
		<a href="/userLogout"> Logout </a>
		
	</div>

	<div id="flashMessage" th:if="msg" th:text=${msg}
		style="background-color: #d4edda; padding: 10px; border: 1px solid #c3e6cb; color: #155724;">
	</div>
	<br>
	<br>
	<div>
		<label style="color: purple;">Create New Task</label>
		<a href="/viewTask" style="margin-left: 20px"> Show All Tasks </a>
	</div>
	<br>
	<form th:action="@{/saveTask}" th:object="${taskData}" method="POST">
		<table>
			<tr>
				<td>Task Name</td>
				<td><input type="text" th:field="*{taskName}" /></td>
			</tr>
			<tr>
				<td>Task Date</td>
				<td><input type="date" th:field="*{taskDate}" /></td>
			</tr>
			<tr>
				<td>Task Time</td>
				<td><input type="time" th:field="*{taskTime}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Create Task"></td>
			</tr>
		</table>
	</form>

	<script>
		setTimeout(function() {
			var msg = document.getElementById('flashMessage');
			if (msg) {
				msg.style.display = 'none';
			}
		}, 3000); // 3000ms = 3 seconds
	</script>
</body>
</html>